
.roomDetails{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.room{
  background-color: #dedede;
    margin-right: 12px;
    border-radius: 4px;
    padding: 12px;
    border: 2px solid #d2caca;
  }
.room-container{
  display: flex;
  background-color: #fff;
  padding: 6px;
  border-radius: 4px;
}
.room-container select{
  padding: 0 6px;
  border-radius: 4px;
}
.adultsSection{
  margin-right: 8px;
}
.submitBtn{
  flex: 0 0 100%;
  text-align: center;
  margin-top: 14px;
}
.submitBtn button{
padding: 6px 8px;
border: none;
border-radius: 4px;

}
.roomHeading{
  display: flex;
  padding-bottom: 4px;
}
.roomInfo .room-container{
  background-color: #dedede;
}